@import (reference) '../assets/style/mixins/index.less';

// Page
.vtx_page {
	.square(100%);
	position: relative;
	background-color: @body-background;
	/*color: @font-color-base;*/
	font-size: @font-size-base;
	min-width: 910px;
	overflow-x: hidden;
    h5{
        .h5();
    }
	:global {
		.ant-table-footer {
			padding: 0 !important;
		}
		.vtx-ui-date-normal {
			width: 100%;
		}
		.vtx-ui-grid-normal {
            z-index: 999;
        }
        .ant-tabs {
            height: 100%;
        }
        .ant-tabs-content {
            height: e("calc(100% - 56px)");
        }
        .ant-tabs-tabpane {
            height: 100%;
        }
        .td {
            position: relative;
        }
	}
}